:root{
    --variable-primary: #FF6700;
    --variable-secondary: #00134B;
    --variable-secondary-hover: #00279b;
    --variable-secondary-light: #0077ff;
    --variable-tertiary: #727272;
    --variable-tertiary-dark: #484848;
    --variable-tertiary-hover: #bbbbbb;
}